.treeTableFloatingButtonBarHBox {
	-fx-spacing: 2px;
}
.floatingButton {
	-fx-background-color: #e7e7e7;
	-fx-background-radius: 4px;
	-fx-font-size: 11px;
}
.floatingButton:hover {
	-fx-background-color: #d0d0d0;
}
.jsonTextProperty {
	-fx-fill: blue;
	-fx-font-weight: bold;
}
.jsonTextDollarProperty {
	-fx-fill: green;
	-fx-font-weight: bold;
}
.jsonTextArray {
	-fx-fill: orange;
	-fx-font-weight: bolder;
}
.jsonTextObject {
	-fx-fill: green;
	-fx-font-weight: bolder;
}

.cursorViewerLinesContainer {
	-fx-background-color: white;
}
.cursorViewerExpandButtonContainer {
	-fx-padding: 2 4 2 4;
}
.cursorViewerExpandButton {
	-fx-background-color: #f0f0f0;
	-fx-background-radius: 4px;
	-fx-border-color: #d0d0d0;
	-fx-padding: 1;
	-fx-font-size: 10px;
}
.cursorViewerExpandButton:selected {
	-fx-background-color: #d0d0d0;
}

.cursorViewerCell:focused {
	-fx-background-color: gray;
}