.treeTableFloatingButtonBarHBox {
	-fx-spacing: 2px;
}
.floatingButton {
	-fx-background-color: #e7e7e7;
	-fx-background-radius: 4px;
	-fx-font-size: 11px;
}
.floatingButton:hover {
	-fx-background-color: #d0d0d0;
}
.jsonTextProperty {
	-fx-fill: blue;
}
.jsonTextArray {
	-fx-fill: orange;
	-fx-font-weight: bolder;
}
.jsonTextObject {
	-fx-fill: green;
	-fx-font-weight: bolder;
}